@media print {
    div {
        height: auto !important;
        overflow: visible !important;
        page-break-inside: auto !important;
        break-inside: auto !important;
    }

    .highlight, pre, code {
      background: none !important;
      color: black !important;
      font-family: monospace;
      font-size: 10pt;
      white-space: pre-wrap;
      word-break: break-word;
      overflow: visible !important;
      box-shadow: none !important;
      border: none;
    }
}
